<header>
</header>
<div class="label-box">
    <h1 ng-show="$ctrl.currentUser.profile.company == 'pedicab'">Finalized Pedicab Schedule</h1>
    <h1 ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">Finalized Rickshaw Schedule</h1>
    <h2>{{$ctrl.currentUser.username}} <button ng-show="$ctrl.currentUser" class="btn btn-primary logut-button"ng-click="$ctrl.logOutUser()" type="button" name="button">Logout</button></h2>
    <!-- <div class="finalize-schedule">
      <h2>Manager</h2>
      <button type="button" class="btn btn-primary" name="button" ng-click="$ctrl.deleteSchedule()">delete schedule</button>
    </div> -->
</div>
<div class="week-button-container">
    <button ng-click="$ctrl.day = 1" type="button" class="btn btn-secondary">M</button>
    <button ng-click="$ctrl.day = 2" type="button" class="btn btn-secondary">T</button>
    <button ng-click="$ctrl.day = 3" type="button" class="btn btn-secondary">W</button>
    <button ng-click="$ctrl.day = 4" type="button" class="btn btn-secondary">T</button>
    <button ng-click="$ctrl.day = 5" type="button" class="btn btn-secondary">F</button>
    <button ng-click="$ctrl.day = 6" type="button" class="btn btn-secondary">S</button>
    <button ng-click="$ctrl.day = 7" type="button" class="btn btn-secondary">S</button>
    <button ng-click="$ctrl.day = 8" type="button" class="btn btn-secondary">All</button>
</div>

<div class="week-box" ng-repeat="week in $ctrl.requests">
    <button type="button" class="btn btn-primary" name="button" ng-click="$ctrl.deleteSchedule(week._id)" ng-show="$ctrl.currentUser.profile.isAdmin == true">delete schedule</button>
    <!--- MONDAY   ----->
    <div class="day-box" ng-show="$ctrl.day == 1 || $ctrl.day == 8">
        <h1>Monday</h1>
        <h1>{{week.weekStart}}</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.monOne | filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                    </li>
                    <!-- Pedicab list  -->
                    <li class="list-group-item" ng-repeat="day in week.monOne | filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.monTwo | orderBy: 'checked' | filter: {company:'rickshaw'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                    <!-- Pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.monTwo | orderBy: 'checked' | filter: {company:'pedicab'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'" >
                        {{day.username}}
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- TUESDAY -->
    <div class="day-box" ng-show="$ctrl.day == 2 || $ctrl.day == 8">
        <h1>Tuesday</h1>
        <h1>{{week.tueDate}}</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.monOne | filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                    </li>
                    <!-- Pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.monOne | filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.tueTwo | orderBy: 'checked' | filter: {company:'rickshaw'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                    <!-- pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.tueTwo | orderBy: 'checked' | filter: {company:'pedicab'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- WEDNESDAY -->
    <div class="day-box" ng-show="$ctrl.day == 3 || $ctrl.day == 8">
        <h1>Wednesday</h1>
        <h1>{{week.wedDate}}</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.wedOne | filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                    </li>
                    <!-- Pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.wedOne | filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab">
                        {{day.username}}
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.wedTwo | orderBy: 'checked' | filter: {company:'rickshaw'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                    <!-- pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.wedTwo | orderBy: 'checked' | filter: {company:'pedicab'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- THURSDAY -->
    <div class="day-box" ng-show="$ctrl.day == 4 || $ctrl.day == 8">
        <h1>Thursday</h1>
        <h1>{{week.thuDate}}</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.thuOne | filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                    </li>
                    <!-- pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.thuOne | filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <ol class="list-group">
                  <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.thuTwo | orderBy: 'checked' | filter: {company:'rickshaw'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                    <!-- pedicab List -->
                      <li class="list-group-item" ng-repeat="day in week.thuTwo | orderBy: 'checked' | filter: {company:'pedicab'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                          {{day.username}}
                          <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                      </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- FRIDAY -->
    <div class="day-box" ng-show="$ctrl.day == 5 || $ctrl.day == 8">
        <h1>Friday</h1>
        <h1>{{week.friDate}}</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <ol class="list-group">
                    <!-- pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.friOne | filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                    </li>
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.friOne | filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <ol class="list-group">
                  <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.friTwo | orderBy: 'checked' | filter: {company:'rickshaw'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                    <!-- pedicab List -->
                      <li class="list-group-item" ng-repeat="day in week.friTwo | orderBy: 'checked' | filter: {company:'pedicab'}:true" ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                          {{day.username}}
                          <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                      </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- SATURDAY -->
    <div class="day-box" ng-show="$ctrl.day == 6 || $ctrl.day == 8">
        <h1>Saturday</h1>
        <h1>{{week.satDate}}</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.satOne | filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                    </li>
                    <!-- pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.satOne | filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.satTwo | filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                    </li>
                    <!-- pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.satTwo | filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- SUNDAY -->
    <div class="day-box" ng-show="$ctrl.day == 7 || $ctrl.day == 8">
        <h1>Sunday</h1>
        <h1>{{week.sunDate}}</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.sunOne | filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                    </li>
                    <!-- pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.sunOne | filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <ol class="list-group">
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="day in week.sunTwo | filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{day.username}}
                    </li>
                    <!-- pedicab List -->
                    <li class="list-group-item" ng-repeat="day in week.sunTwo | filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{day.username}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
