.contacts-container {
    background-color: $aqua;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px $gray solid;
    border-radius: 10px;
    overflow: scroll;

    h1 {
        text-align: center;
        font-size: 4rem;
    }

    .table-container {
        font-size: 3.5rem;
    }
}
