.contacts-container {
    background: linear-gradient(to bottom, rgba(155, 203, 190, .9), rgba(155, 203, 190, .4)), url('bike_seat.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px $gray solid;
    border-radius: 10px;
    overflow: scroll;

    h1 {
        text-align: center;
        font-size: 4rem;
    }

    .table-container {
        font-size: 3.5rem;
    }
}
