<div class="contacts-page">
    <div class="label-box">
      <h1>Contact Lists</h1>
      <h2>{{$ctrl.currentUser.username}} <button ng-show="$ctrl.currentUser" class="btn btn-primary logut-button"ng-click="$ctrl.logOutUser()" type="button" name="button">Logout</button></h2>
    </div>
    <div class="contacts-container">

        <div class="table-container">
            <h1>Rickshaw Contacts</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cell Number</th>
                        <th>email</th>
                        <!-- <th>delete user</th> -->
                    </tr>
                </thead>
                <tr ng-repeat="user in $ctrl.users | filter: {profile: {company: 'rickshaw'}} | filter: username == 'AdminRick' | orderBy: 'username'">
                    <td>{{user.username}}</td>
                    <td><a href="tel:{{user.profile.phone}}">{{user.profile.phone}}</a></td>
                    <td><a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a></td>
                    <td><button ng-click="$ctrl.deleteUser(user)" type="button" class="btn btn-primary" ng-show="$ctrl.currentUser.profile.isAdmin == true">&times;</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-container">
            <h1>Pedicab Contacts</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cell Number</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tr ng-repeat="user in $ctrl.users | filter: {profile: {company: 'pedicab'}} | filter: username == 'AdminPedi' | orderBy: 'username'">
                    <td>{{user.username}}</td>
                    <td><a href="tel:{{user.profile.phone}}">{{user.profile.phone}}</a></td>
                    <td><a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a></td>
                    <td><button ng-click="$ctrl.deleteUser(user)" type="button" class="btn btn-primary" ng-show="$ctrl.currentUser.profile.isAdmin == true">&times;</button>
                </tr>
            </table>
        </div>
    </div>
</div>
