<header>
</header>
<!-- <login></login> -->
<!-- <login-buttons></login-buttons> -->
<div class="label-box">
    <h1 ng-show="$ctrl.currentUser.profile.company == 'pedicab'">Pedicab Schedule</h1>
    <h1 ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">Rickshaw Schedule</h1>
    <h2>{{$ctrl.currentUser.username}} <button ng-show="$ctrl.currentUser" class="btn btn-primary logut-button"ng-click="$ctrl.logOutUser()" type="button" name="button">Logout</button></h2>
    <div class="finalize-schedule">
      <h2>Manager</h2>
      <input ng-model="$ctrl.weekStart" type="date" name="" value="">
      <button type="button" class="btn btn-primary" name="button" ng-click="$ctrl.finalizeSchedule($ctrl.monOne, $ctrl.monTwo, $ctrl.requests, $ctrl.weekStart)">Finalize schedule</button>
      <button type="button" class="btn btn-primary" name="button" ng-click="$ctrl.deleteSchedule()">delete schedule</button>
    </div>
</div>
<div class="week-button-container">
    <button ng-click="$ctrl.day = 1" type="button" class="btn btn-secondary">M</button>
    <button ng-click="$ctrl.day = 2" type="button" class="btn btn-secondary">T</button>
    <button ng-click="$ctrl.day = 3" type="button" class="btn btn-secondary">W</button>
    <button ng-click="$ctrl.day = 4" type="button" class="btn btn-secondary">T</button>
    <button ng-click="$ctrl.day = 5" type="button" class="btn btn-secondary">F</button>
    <button ng-click="$ctrl.day = 6" type="button" class="btn btn-secondary">S</button>
    <button ng-click="$ctrl.day = 7" type="button" class="btn btn-secondary">S</button>
</div>

<div class="week-box">
    <!--- MONDAY   ----->
    <div class="day-box" ng-show="$ctrl.day == 1 || $ctrl.day == 8">
        <h1>Monday</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.monOne)" type="button" name="button">Add Shift</button>
                <ol class="list-group" ng-sortable>
                    <!-- Rickshaw List -->
                    <li class="list-group-item" ng-repeat="request in $ctrl.monOne" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.monOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>

                    </li>
                    <!-- Pedicab list  -->
                    <li class="list-group-item" ng-repeat="request in $ctrl.monOne" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.monOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.monTwo)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <!-- <li class="list-group-item" ng-repeat="request in $ctrl.monTwo | orderBy: 'checked'" ng-class="{'checked': request.checked}">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.monTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                        </br>
                        <label>
                          <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.monTwo)" class="toggle-checked" style="transform: scale(2)"/> 3 shift
                        </label>
                    </li> -->
                    <li class="list-group-item" ng-repeat="request in $ctrl.monTwo | orderBy: 'checked'" ng-show="$ctrl.currentUser.profile.company == 'pedicab'" ng-class="{'checked': request.checked}" >
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.monTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        </br>
                        <label>
                          <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.monTwo)" class="toggle-checked" style="transform: scale(2)"/> 3 shift
                        </label>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- TUESDAY -->
    <div class="day-box" ng-show="$ctrl.day == 2 || $ctrl.day == 8">
        <h1>Tuesday</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.tueOne)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.tueOne" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.tueOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.tueOne" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.tueOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.tueTwo)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.tueTwo" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.tueTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.tueTwo" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.tueTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- WEDNESDAY -->
    <div class="day-box" ng-show="$ctrl.day == 3 || $ctrl.day == 8">
        <h1>Wednesday</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.wedOne)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.wedOne" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.wedOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.wedOne" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.wedOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.wedTwo)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.wedTwo" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.wedTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.wedTwo" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.wedTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- THURSDAY -->
    <div class="day-box" ng-show="$ctrl.day == 4 || $ctrl.day == 8">
        <h1>Thursday</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.thuOne)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.thuOne" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.thuOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.thuOne" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.thuOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.thuTwo)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.thuTwo" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.thuTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.thuTwo" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.thuTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- FRIDAY -->
    <div class="day-box" ng-show="$ctrl.day == 5 || $ctrl.day == 8">
        <h1>Friday</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.friOne)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.friOne" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.friOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.friOne" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.friOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.friTwo)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.friTwo" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.friTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.friTwo" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.friTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                        <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- SATURDAY -->
    <div class="day-box" ng-show="$ctrl.day == 6 || $ctrl.day == 8">
        <h1>Saturday</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.satOne)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.satOne" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.satOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.satOne" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.satOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.satTwo)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.satTwo" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.satTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.satTwo" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.satTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- SUNDAY -->
    <div class="day-box" ng-show="$ctrl.day == 7 || $ctrl.day == 8">
        <h1>Sunday</h1>
        <div class="shift-box">
            <div class="day-shift">
                <h1>Day Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.sunOne)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.sunOne" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.sunOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.sunOne" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.sunOne)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                </ol>
            </div>
            <div class="night-shift">
                <h1>Night Shift</h1>
                <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.sunTwo)" type="button" name="button">Add Shift</button>
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="request in $ctrl.sunTwo" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.sunTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                    <li class="list-group-item" ng-repeat="request in $ctrl.sunTwo" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
                        {{request.username}}
                        <button class="delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.sunTwo)" ng-show="$ctrl.currentUser.username == request.username">&times;</button>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
