body {
    margin: 0;
}
/////////////////////small screen///////////////
@media only screen and (max-device-width: 767px) {
    .label-box {
        width: 85vw;
        margin: 2% auto;
        border-radius: 10px;
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 6rem;
        }

        h2 {
            font-size: 5rem;
        }
    }

    .week-box {
        width: 100vw;
        display: flex;
        flex-direction: column;

        .day-box {
            text-align: center;

            h1 {
                font-size: 6rem;
            }

            .shift-box {
                width: 100vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                border-radius: 5px;

                h1 {
                    margin: 2%;
                }

                .add-shift {
                    font-size: 3rem;
                    margin: 2%;
                }

                .day-shift {
                    width: 45vw;
                    height: 50vh;
                    margin: auto;
                    border-radius: 10px;
                    background-color: #828282;

                    overflow: scroll;

                    .list-group {
                        list-style: decimal inside;
                    }

                    .list-group-item {
                        display: list-item;
                        font-size: 3rem;
                    }
                }

                .night-shift {
                    width: 45vw;
                    height: 50vh;
                    margin: auto;
                    background-color: pink;
                    border-radius: 10px;
                    overflow: scroll;

                    .list-group {
                        list-style: decimal inside;
                    }

                    .list-group-item {
                        display: list-item;
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}
//////////////////// large screen///////////////
@media only screen and (min-device-width: 768px) {
    .week-box {
        width: 100vw;
        background-color: lightgreen;
        display: flex;
        justify-content: space-around;

        .day-box {
            width: 14%;

            h1 {
                text-align: center;
                font-size: 2.5rem;
            }
        }

        .shift-box {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                margin: 0;
                text-align: center;
            }

            .add-shift {
                width: 100%;
                margin: 1% auto;
                background-color: white;
                color: #333333;
            }

            .delete {}

            .day-shift {
                height: 30vh;
                background-color: lightblue;
                margin-bottom: 5px;
                overflow: scroll;
            }

            .night-shift {
                height: 50vh;
                color: white;
                background-color: darkblue;
                overflow: scroll;
            }
        }
    }
}
