<header>
</header>
<div class="label-box">
  <h1 ng-show="$ctrl.currentUser.profile.company == 'pedicab'">Pedicab Schedule</h1>
  <h1 ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">Rickshaw Schedule</h1>
  <h2>{{$ctrl.currentUser.username}} <button ng-show="$ctrl.currentUser" class="btn btn-primary logout-button"ng-click="$ctrl.logOutUser()" type="button" name="button">Logout</button></h2>
  <!-- <div class="finalize-schedule" ng-show="$ctrl.currentUser.profile.isAdmin == true">
        <h2>Week Start:
        <span><input ng-model="$ctrl.weekStart" class="date-input" type="date" name="" value=""></span>
      </h2>
        <button type="button" class="btn btn-primary finalize-button" name="button" ng-click="$ctrl.finalizeSchedule($ctrl.weekStart)">Finalize schedule</button>
        <button type="button" class="btn btn-primary finalize-button" name="button" ng-click="$ctrl.deleteAllRequests()">Delete All Requests</button>
    </div> -->
</div>
<div class="label-box" ng-show="$ctrl.currentUser.profile.isAdmin == true">
  <div class="finalize-schedule">
    <h2>Week Start:
      <span><input ng-model="$ctrl.weekStart" class="date-input" type="date" name="" value=""></span>
    </h2>
    <button type="button" class="btn btn-primary finalize-button" name="button" ng-click="$ctrl.swapCompany()">Change Company</button>
    <button type="button" class="btn btn-primary finalize-button" name="button" ng-click="$ctrl.finalizeSchedule($ctrl.weekStart)">Finalize schedule</button>
    <button type="button" class="btn btn-primary finalize-button" name="button" ng-click="$ctrl.deleteAllRequests()">Delete All Requests</button>
  </div>
  <h2>Rider Shift Count</h2>
  <div class="riders-box">
    <div class="rider" ng-repeat="rider in $ctrl.allUsers | filter: {profile:{company:'rickshaw'}}:true | filter: {profile:{isAdmin: false}} | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
      <h3>{{rider.username}} - {{rider.profile.numOfShifts}}</h3>
    </div>
    <div class="rider" ng-repeat="rider in $ctrl.allUsers | filter: {profile:{company:'pedicab'}}:true | filter: {profile:{isAdmin: false}} | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
      <h3>{{rider.username}} - {{rider.profile.numOfShifts}} shifts</h3>
    </div>
  </div>
</div>
<div class="admin-select-box" ng-show="$ctrl.currentUser.profile.isAdmin == true">
  <h1>Add User to all shifts</h1>
  <select class="custom-select" ng-change="$ctrl.adminAddUserToAll()" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username' | filter: {profile:{company:'rickshaw'}}:true" ng-show="$ctrl.currentUser.profile.isAdmin == true && $ctrl.currentUser.profile.company == 'rickshaw'">
    </select>
  <select class="custom-select" ng-change="$ctrl.adminAddUserToAll()" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username' | filter: {profile:{company:'pedicab'}}:true" ng-show="$ctrl.currentUser.profile.isAdmin == true && $ctrl.currentUser.profile.company == 'pedicab'">
    </select>
</div>
<div class="week-button-container">
  <button ng-click="$ctrl.day = 1" type="button" class="btn btn-secondary">M</button>
  <button ng-click="$ctrl.day = 2" type="button" class="btn btn-secondary">T</button>
  <button ng-click="$ctrl.day = 3" type="button" class="btn btn-secondary">W</button>
  <button ng-click="$ctrl.day = 4" type="button" class="btn btn-secondary">T</button>
  <button ng-click="$ctrl.day = 5" type="button" class="btn btn-secondary">F</button>
  <button ng-click="$ctrl.day = 6" type="button" class="btn btn-secondary">S</button>
  <button ng-click="$ctrl.day = 7" type="button" class="btn btn-secondary">S</button>
  <button ng-click="$ctrl.day = 8" type="button" class="btn btn-secondary">All</button>
</div>

<div class="week-box">
  <!--- MONDAY   ----->
  <div class="day-box" ng-show="$ctrl.day == 1 || $ctrl.day == 8">
    <h1>Monday</h1>
    <div class="shift-box">
      <div class="day-shift">
        <h1>Day Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.monOne)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.monOne)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- Rickshaw List -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.monOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.monOne | orderBy: 'username'| filter: {company:'rickshaw'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.monOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>

          </li>
          <!-- Pedicab list  -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.monOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.monOne | orderBy: 'username'| filter: {company:'pedicab'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.monOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
        </ol>
      </div>
      <div class="night-shift">
        <h1>Night Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.monTwo)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.monTwo)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- Rickshaw List -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.monTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'#333')}" ng-repeat="request in $ctrl.monTwo | orderBy: ['username','checked'] | filter: {company:'rickshaw'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.monTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                          <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.monTwo)" class="toggle-checked" /> 6:30
                        </label>
          </li>
          <!-- Pedicab List -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.monTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.monTwo | orderBy: ['username','checked'] | filter: {company:'pedicab'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.monTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                          <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.monTwo)" class="toggle-checked" /> 6:30
                        </label>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- TUESDAY -->
  <div class="day-box" ng-show="$ctrl.day == 2 || $ctrl.day == 8">
    <h1>Tuesday</h1>
    <div class="shift-box">
      <div class="day-shift">
        <h1>Day Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.tueOne)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.tueOne)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.tueOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.tueOne | filter: {company:'rickshaw'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.tueOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.tueOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.tueOne | orderBy: 'username'| filter: {company:'pedicab'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.tueOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
        </ol>
      </div>
      <div class="night-shift">
        <h1>Night Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.tueTwo)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.tueTwo)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.tueTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.tueTwo | orderBy: ['username','checked'] | filter: {company:'rickshaw'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.tueTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                        <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.tueTwo)" class="toggle-checked" /> 6:30
                      </label>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
          </li>
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.tueTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.tueTwo | orderBy: ['username','checked'] | filter: {company:'pedicab'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.tueTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                        <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.tueTwo)" class="toggle-checked" /> 6:30
                      </label>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- WEDNESDAY -->
  <div class="day-box" ng-show="$ctrl.day == 3 || $ctrl.day == 8">
    <h1>Wednesday</h1>
    <div class="shift-box">
      <div class="day-shift">
        <h1>Day Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.wedOne)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.wedOne)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.wedOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.wedOne | orderBy: 'username'| filter: {company:'rickshaw'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.wedOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.wedOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.wedOne | orderBy: 'username'| filter: {company:'pedicab'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.wedOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
        </ol>
      </div>
      <div class="night-shift">
        <h1>Night Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.wedTwo)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.wedTwo)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.wedTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.wedTwo | orderBy: ['username','checked'] | filter: {company:'rickshaw'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.wedTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                        <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.wedTwo)" class="toggle-checked" /> 6:30
                      </label>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.wedTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.wedTwo | orderBy: ['username','checked'] | filter: {company:'pedicab'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.wedTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                        <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.wedTwo)" class="toggle-checked" /> 6:30
                      </label>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- THURSDAY -->
  <div class="day-box" ng-show="$ctrl.day == 4 || $ctrl.day == 8">
    <h1>Thursday</h1>
    <div class="shift-box">
      <div class="day-shift">
        <h1>Day Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.thuOne)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.thuOne)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.thuOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.thuOne | orderBy: 'username'| filter: {company:'rickshaw'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.thuOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.thuOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.thuOne | orderBy: 'username'| filter: {company:'pedicab'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.thuOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
        </ol>
      </div>
      <div class="night-shift">
        <h1>Night Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.thuTwo)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.thuTwo)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.thuTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.thuTwo | orderBy: ['username','checked'] | filter: {company:'rickshaw'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.thuTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                        <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.thuTwo)" class="toggle-checked" /> 6:30
                      </label>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.thuTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.thuTwo | orderBy: ['username','checked'] | filter: {company:'pedicab'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.thuTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                        <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.thuTwo)" class="toggle-checked" /> 6:30
                      </label>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- FRIDAY -->
  <div class="day-box" ng-show="$ctrl.day == 5 || $ctrl.day == 8">
    <h1>Friday</h1>
    <div class="shift-box">
      <div class="day-shift">
        <h1>Day Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.friOne)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.friOne)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.friOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.friOne | orderBy: 'username'| filter: {company:'rickshaw'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.friOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.friOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.friOne | orderBy: 'username'| filter: {company:'pedicab'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.friOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
        </ol>
      </div>
      <div class="night-shift">
        <h1>Night Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.friTwo)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.friTwo)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.friTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.friTwo | orderBy: ['username','checked'] | filter: {company:'rickshaw'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.friTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                        <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.friTwo)" class="toggle-checked" /> 6:30
                      </label>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.friTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.friTwo | orderBy: ['username','checked'] | filter: {company:'pedicab'}:true"
            ng-class="{'checked': request.checked}" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.friTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
            </br>
            <label ng-show="$ctrl.currentUser.profile.isAdmin == true || $ctrl.currentUser.username == request.username">
                        <input type="checkbox" ng-checked="request.checked" ng-click="$ctrl.shiftUpdateThreeShift(request, $ctrl.shifts.friTwo)" class="toggle-checked" /> 6:30
                      </label>
            <!-- <h3 ng-if="$index>3" style="background-color:rgba(119,123,126, .7);">6:30 Shift</h3> -->
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- SATURDAY -->
  <div class="day-box" ng-show="$ctrl.day == 6 || $ctrl.day == 8">
    <h1>Saturday</h1>
    <div class="shift-box">
      <div class="day-shift">
        <h1>Day Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.satOne)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.satOne)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.satOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}"
            ng-repeat="request in $ctrl.satOne | orderBy: 'username'| filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.satOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.satOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}"
            ng-repeat="request in $ctrl.satOne | orderBy: 'username'| filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.satOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
        </ol>
      </div>
      <div class="night-shift">
        <h1>Night Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.satTwo)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.satTwo)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.satTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}"
            ng-repeat="request in $ctrl.satTwo | orderBy: 'username'| filter: {company:'rickshaw'}:true" ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.satTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.satTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}"
            ng-repeat="request in $ctrl.satTwo | orderBy: 'username'| filter: {company:'pedicab'}:true" ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.satTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- SUNDAY -->
  <div class="day-box" ng-show="$ctrl.day == 7 || $ctrl.day == 8">
    <h1>Sunday</h1>
    <div class="shift-box">
      <div class="day-shift">
        <h1>Day Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.sunOne)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.sunOne)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.sunOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.sunOne | orderBy: 'username'| filter: {company:'rickshaw'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.sunOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.sunOne)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.sunOne | orderBy: 'username'| filter: {company:'pedicab'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.sunOne)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
        </ol>
      </div>
      <div class="night-shift">
        <h1>Night Shift</h1>
        <button class="add-shift btn btn-primary" ng-click="$ctrl.addRequests($ctrl.shifts.sunTwo)" type="button" name="button">Request Shift</button>
        <div class="admin-select-box">
          <select class="custom-select" ng-change="$ctrl.adminAddUser($ctrl.shifts.sunTwo)" ng-model="$ctrl.adminUserChoice" ng-options="user.username for user in $ctrl.allUsers | orderBy: 'username'" ng-show="$ctrl.currentUser.profile.isAdmin == true">
                    </select>
        </div>
        <ol class="list-group">
          <!-- rickshaw list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.sunTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.sunTwo | orderBy: 'username'| filter: {company:'rickshaw'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'rickshaw'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.sunTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
          <!-- pedicab list -->
          <li class="list-group-item" ng-click="$ctrl.strike(request, $ctrl.shifts.sunTwo)" ng-class="{'strike': request.striked}" ng-style="{'background-color':(request.username == $ctrl.currentUser.username?'#fbb829':'none')}" ng-repeat="request in $ctrl.sunTwo | orderBy: 'username'| filter: {company:'pedicab'}:true"
            ng-show="$ctrl.currentUser.profile.company == 'pedicab'">
            {{$index + 1}}. {{request.username}}
            <button class="btn btn-primary delete" ng-click="$ctrl.removeRequest(request, $ctrl.shifts.sunTwo)" ng-show="$ctrl.currentUser.username == request.username || $ctrl.currentUser.profile.isAdmin == true">&times;</button>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
