body {
    margin: 0;
}
@media only screen and (max-device-width: 767px) {
    .week-box {
        width: 100vw;
        background-color: lightgreen;
        display: flex;
        flex-direction: column;

        .day-box {
          text-align: center;
            .shift-box {
                height: 90vh;
                background-color: yellow;
                display: flex;
                flex-direction: row;

                h1 {
                    margin: 0;
                }
                button{
                  width: 100%;
                  background-color: yellow;
                }
                .day-shift {
                    width: 100%;
                    background-color: lightblue;
                }

                .night-shift {
                    color: white;
                    width: 100%;
                    background-color: darkblue;
                }
            }
        }
    }
}
@media only screen and (min-device-width: 768px) {
    .week-box {
        width: 100vw;
        background-color: lightgreen;
        display: flex;
        justify-content: space-around;
        .day-box{
          width: 14%;
          h1{
            text-align: center;
          }
        }
        .shift-box {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                margin: 0;
                text-align: center;
            }

            .day-shift {
                height: 30vh;
                background-color: lightblue;
                margin-bottom: 5px;
                overflow: scroll;
                // .delete{
                //   float: right;
                // }
                // button {
                //   width: 100%;
                //   font-size: 1rem;
                // }
            }

            .night-shift {
                height: 50vh;
                color: white;
                background-color: darkblue;
                overflow: scroll;
            }
        }
    }
}
