.reservations-page {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;


    .reso-submit {
        margin: 4% auto;
        font-size: 4rem;
        width: 45vw;
    }

    .reservations-input {
        background: linear-gradient(to bottom, rgba(155, 203, 190, .8), rgba(155, 203, 190, .4)), url('tire_diagram.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 90vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        border-radius: 10px;
        border: 3px $gray solid;
        margin-bottom: 5%;

        h1 {
            align-self: center;
            font-size: 5rem;
        }

        .input-info {
            align-self: center;
            display: block;
            width: 90%;
            margin: 2% auto;
            padding: 2%;
            border-radius: 5px;
            font-size: 3.5rem;
        }

        .reso-numbers {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            flex-direction: row;

            .input-numbers {
                width: 32%;
                justify-content: space-between;
                font-size: 3rem;
                margin: 2% auto;
                padding: 2%;
            }
        }
    }

    .reservations-list {
        background: linear-gradient(to left, rgba(131, 172, 189, .9), rgba(131, 172, 189, .9)), url('chain.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 90vw;
        display: flex;
        justify-content:space-around;
        flex-direction:column;
        align-self: center;
        border-radius: 10px;
        border: 3px $gray solid;
        font-size: 3rem;
        margin: 2%;
        .reso-when, .reso-what {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
        .reso-why {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .reso-by {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
    }
}
