<div class="login-page">
    <img src="rickshaw_schedule_logo.png" alt="">
    <!-- <h1>Hi {{$ctrl.currentUser.username}}! <button ng-show="$ctrl.currentUser" class="btn btn-primary logout-button" ng-click="$ctrl.logOutUser()" type="button" name="button">Logout</button></h1> -->
    <div class="login">
        <!-- ng-hide='!$ctrl.hide' -->
        <h2>Login</h2>
        <form>
            <input class="input-info" ng-model="$ctrl.username" type="user" name="username" value="" placeholder="Name">
            <input class="input-info" ng-model="$ctrl.password" type="password" name="signupPassword" placeholder="Password">
            <div class="button-container">
                <button type="button" class="btn btn-primary login-button" ng-click="$ctrl.loginUser($ctrl.username, $ctrl.password)">Login</button>
                <button type="button" class="btn btn-secondary login-button" ng-click="$ctrl.toggle()" name="button">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="signup" ng-hide='$ctrl.hide'>
        <h2>Signup </h2>
        <form>
            <input class="input-info" ng-model="$ctrl.signup.username" type="username" name="username" value="" placeholder="Name">
            <input class="input-info" ng-model="$ctrl.signup.password" type="password" name="loginPassword" placeholder="Password">
            <input class="input-info" ng-model="$ctrl.signup.passwordTwo" type="password" name="loginPasswordCheck" placeholder="Re-type Password">
            <input class="input-info" ng-model="$ctrl.signup.email" type="email" name="loginEmail" placeholder="Email">
            <input class="input-info" ng-model="$ctrl.signup.phone" type="tel" name="phoneNumber" placeholder="Phone Number">
            <div class="radio-container">
                <label class="radio">
              <input ng-model="$ctrl.signup.company" type="radio" name="company" value="rickshaw">Rickshaw
            </label>
                <label class="radio">
              <input ng-model="$ctrl.signup.company" type="radio" name="company" value="pedicab">Pedicab
            </label>
            </div>
            <button type="button" class="btn btn-primary login-button" ng-click="$ctrl.signupUser($ctrl.signup)">Sign Up</button>

        </form>
    </div>
</div>
