  <h2>Signup</h2>
  <form>
    <input type="email" name="signupEmail" placeholder="Email">
    <input type="password" name="signupPassword" placeholder="Password">
    <input type="submit" value="Signup">
  </form>

  <h2>Log in</h2>
  <form>
    <input type="email" name="loginEmail" placeholder="Email">
    <input type="password" name="loginPassword" placeholder="Password">
    <input type="checkbox" name="company" placeholder="Rickshaw"value="rickshaw">
    <input type="submit" value="Login">
  </form>
