@media only screen and (max-device-width: 767px) {
    .login-page {
        display: flex;
        flex-direction: column;

        .login,
        .signup {
            width: 80vw;
            text-align: center;
            align-self: center;
            margin: 3% auto;
            background-color: lightgreen;

            .input-info {
                display: block;
                width: 75%;
                margin: 1% auto;
                padding: 2%;
                border-radius: 5px;
            }

            .company {
                display: inline-block;
            }

            .login-button {
                width: 80%;
                padding: 3%;
                margin: 1%auto;
                font-size: 1rem;
            }
        }
    }
}
@media only screen and (min-device-width: 768px) {
    .login-page {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .login {
            width: 50vw;
            background-color: lightblue;
            text-align: center;
            align-self: center;

            .input-info {
                display: block;
                width: 75%;
                margin: 1% auto;
                padding: 2%;
                border-radius: 5px;
            }

            .login-button {
                width: 80%;
                padding: 3%;
                margin: 1% auto;
                font-size: 2rem;
            }
        }

        .signup {
            width: 50vw;
            text-align: center;
            background-color: lightgreen;
            align-self: center;

            .input-info {
                display: block;
                width: 75%;
                margin: 1% auto;
                padding: 2%;
            }

            .company {
                display: inline-block;
            }

            .login-button {
                width: 80%;
                padding: 3%;
                margin: 1%auto;
                font-size: 1rem;
            }
        }
    }
}
